*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(247, 247, 247);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-inicio{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}
#instagram-phone-black{
    display: none;
}
#instagram-phone-white{
    display: flex;
}

.instagram-phone img{
    height: 50rem;
}


.instagram-continuar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3ren;
}

#insta-logo-black{
    display: block;
}

#insta-logo-white{
    display: none;
}

.instragram-img-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

}

.instragram-img-profile img{
    height: 6rem;
}

.button-enter{
    color: #ffffffff;
    padding: 8px;
    border-radius: 4px;
    background-color: #0095f6;

}

.button-remove{
    color: #0095f6;
    margin-top: 1rem;
}

.not-conta{
    color: rgb(160, 160, 160);
}
.link-blue{
    color: #0095f6;
}

.instagram-aplicativo{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem 0;

}

.downloads{
    display: flex;
    justify-content: start;
}

.get-app{
    display: flex;
    justify-content: center;
}
.downloads{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem;
}
.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(../img/apple-button.png);
}

.app-download:nth-child(2   ){
    background-image: url(../img/googleplay-button.png);
}

.alterar-color{
    display:flex;
    justify-content: center;
    align-items: center;
}

.button-color-page{
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 50%;
    width: 2rem;
}

#button-white{
    display: none;
}


